* {
	margin: 0;
	padding: 0;
}

.container {
	width: 1280px;
	margin: 0 auto;
	padding: 0;
}

.main-header {
	width: 100%;
	background-color: #445161;
	padding: 50px;
	box-sizing: border-box;
}

.main-header-wrapper {
	float: left;
}

.main-header-title {
	margin: 0;
	font-family: Arial;
    font-size: 60px;
    font-weight: 400;
    color: #ffffff;
}

.main-header-list{
	margin: 25px 0 0 0;
	padding: 0;
}

.main-header-list li {
	list-style-type: none;
	font-family: Arial;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
    padding: 0 0 0 37px;
    position: relative;
}

.main-header-list li:before {
	content: "";
	display: block;
	width: 25px;
	height: 19px;
	position: absolute;
	top: 8px;
	left: 0;
	background-image: url('../img/main-header-list-icon.png');
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.main-header-photo {
	display: block;
	width: 469px;
    height: 214px;
    background-color: #ffffff;
    float: right;
}

.main-header:after {
	content: "";
	display: block;
	width: 100%;
	clear: both;
}

h2 {
	font-family: Arial;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    text-align: center;
}

.about-product {
	width: 100%;
	padding: 50px;
	box-sizing: border-box;
}

.about-product-wrapper {
	width: 655px;
	float: left;
}

.about-product-title{
	text-align: left;
}

.about-product-text {
	margin: 20px 0 0 0;
	font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}

.about-product-video {
	width: 430px;
    height: 245px;
    background-color: #445161;
    float: right;
}

.about-product:after {
	content: "";
	display: block;
	width: 100%;
	clear: both;
}

.dignity {
	width: 100%;
	background-color: #F5F5F5;
	padding: 50px;
	box-sizing: border-box;
}

.dignity-details {
	margin: 30px 0 0 0;
	font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}

.dignity-details summary {
	display: inline-block;
	padding: 0 0 0 40px;
	box-sizing: border-box;
	position: relative;
}

/*Удаление рамки с активного элемента summary*/
.dignity-details summary:focus {
	outline: none;
}

/*Удаление стандартного маркера details*/
.dignity-details summary::-webkit-details-marker {
	display: none;
}
.dignity-details summary::-moz-list-bullet {
	list-style-type: none;
}

/*Добавление нового маркера details*/
.dignity-details summary:before {
	content: "";
	display: block;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('../img/dignity-details-icon.png');
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.dignity-details-text {
	padding: 0 0 0 40px;
	box-sizing: border-box;
}

.dignity-left {
	width: 570px;
	float: left;
}

.dignity-right {
	width: 570px;
	float: right;
}

.dignity:after {
	content: "";
	display: block;
	width: 100%;
	clear: both;
}

.screenshots {
	width: 100%;
	padding: 50px;
	box-sizing: border-box;
}

.screenshots-block {
	width: 575px;
	height: 150px;
}

.screenshots-photo {
	display: block;
	width: 200px;
    height: 150px;
    background-color: #445161;
    float: left;
}

.screenshots-block-title {
	font-family: Arial;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #445161;
}

.screenshots-text {
	font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}

.screenshots-description {
	width: 360px;
	height: 150px;
	float: right;
}

.screenshots-block {
	margin: 30px 0 0 0;
}

.screen-block-left {
	float: left;
}

.screen-block-right {
	float: right;
}

.screenshots:after {
	content: "";
	display: block;
	width: 100%;
	clear: both;
}

.reviews {
	width: 100%;
	background-color: #F5F5F5;
	padding: 50px;
	box-sizing: border-box;
}

.reviews-title{
	margin: 0 0 5px 0;
}

.review-block {
	width: 575px;
	height: 120px;
	margin: 25px 0 0 0;
}

.review-photo {
	width: 75px;
    height: 75px;
    background-color: #445161;
    border-radius: 50%;
    float: left;
}

.review-description {
	width: 470px;
    height: 120px;
    background-color: #ebebeb;
    padding: 15px;
	box-sizing: border-box;
	border-radius: 7px;
	float: right;
	position: relative;
}

.review-description:before {
	content: "";
	display: block;
	width: 15px;
	height: 25px;
	position: absolute;
	top: 25px;
	left: -12px;
	background-image: url('../img/primary-tab-left.png');
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.review-text {
	font-family: Arial;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    font-style: italic;
    color: #333333;
}

.review-name {
	display: block;;
	font-family: Arial;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #989898;
    margin: 5px 0 0 0;
}

.reviews-block-left {
	float: left;
}

.reviews-block-right {
	float: right;
}

.reviews:after {
	content: "";
	display: block;
	width: 100%;
	clear: both;
}

.buy {
	width: 100%;
	padding: 50px;
	box-sizing: border-box;
}

.buy-blocks {
	margin: 25px 0 0 0;
	display: flex;
	justify-content: space-evenly;
	align-items: flex-end;
}

.buy-block {
	width: 300px;
	background-color: #445161;
	border-radius: 7px;
	padding: 0 0 20px 0;
	box-sizing: border-box;
}

.buy-title {
	display: block;
	height: 50px;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	font-family: Arial;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #ffffff;
}

.buy-price {
	display: block;
	height: 65px;
	background-color: #ffffff;
	border: 2px solid #445161;
	text-align: center;
	padding: 15px;
	box-sizing: border-box;
	font-family: Arial;
    font-size: 40px;
    line-height: 30px;
    font-weight: 400;
    color: #445162;
}

.buy-list {
	padding: 15px 20px;
	box-sizing: border-box;
	list-style-position: inside;
	font-family: Arial;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
}

.buy-button {
	width: 260px;
	height: 40px;
	background-color: #ffffff;
	border-radius: 7px;
	border: none;
	font-family: Arial;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #445161;
    text-transform: uppercase;
    margin: 0 0 0 20px;
}

.buy-button:hover {
	box-shadow: 3px 3px 5px #000;
}

.buy-button:active {
	box-shadow: none;
	outline: none;
}

.buy-button:focus {
	outline: none;
}

.contacts {
	width: 100%;
	background-color: #445161;
	padding: 50px;
	box-sizing: border-box;
}

.contacts-title {
	color: #ffffff;
}

.contacts-form {
	display: inline-block;
	width: 500px;
	height: 350px;
	margin: 30px 0 0 200px;
	float: left;
	text-align: center;
}

.form-text {
	width: 500px;
    height: 40px;
    background-color: #ffffff;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 7px;
    border: none;
    margin: 0 0 20px 0;
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400; 
    color: #445162;
}

.form-message {
	width: 500px;
    height: 170px;
    background-color: #ffffff;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 7px;
    border: none;
    margin: 0 0 20px 0;
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400; 
    color: #445162;
}

.form-submit {
	width: 140px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 7px;
    border: none;
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #445162;
}

.form-text:focus,
.form-message:focus,
.form-submit:focus {
	outline: none;
}

.form-submit:hover {
	box-shadow: 3px 3px 5px #000;
}

.form-submit:active {
	box-shadow: none;
	outline: none;
}

.contacts-number {
	width: 240px;
	margin: 30px 160px 0 0;
	float: right;
}

.contacts-number a {
	text-decoration: none;
	font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
}

.contacts-number a:hover {
    color: #99958C;
}

.contacts-skype,
.contacts-icq,
.contacts-mail,
.contacts-phone {
	display: block;
	width: 240px;
	height: 40px;
	margin: 0 0 5px 0;
	position: relative;
}

.contacts-skype:before {
	content: "";
	display: block;
	width: 24px;
    height: 26px;
	position: absolute;
	top: -4px;
	left: -32px;
	background-image: url('../img/skype-icon.png');
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.contacts-icq:before {
	content: "";
	display: block;
	width: 26px;
    height: 26px;
	position: absolute;
	top: -2px;
	left: -32px;
	background-image: url('../img/icq-icon.png');
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.contacts-mail:before {
	content: "";
	display: block;
	width: 22px;
    height: 22px;
	position: absolute;
	top: 2px;
	left: -32px;
	background-image: url('../img/email-icon.png');
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.contacts-phone:before {
	content: "";
	display: block;
	width: 24px;
    height: 23px;
	position: absolute;
	top: -1px;
	left: -32px;
	background-image: url('../img/phone-icon.png');
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.social {
	width: 245px;
	display: flex;
	justify-content: space-between;
	margin: 0 0 0 -35px;
}


.social-circle {
	width: 45px;
	height: 45px;
	border-radius: 50%;
}

.social-circle:hover {
	box-shadow: 2px 2px 5px #000;
}

.social-tw {
	display: block;
	width: 45px;
	height: 45px;
	background-image: url('../img/tw-icon.png');
}

.social-fb {
    display: block;
	width: 45px;
	height: 45px;
	background-image: url('../img/fb-icon.png');
}

.social-in {
    display: block;
	width: 45px;
	height: 45px;
	background-image: url('../img/in-icon.png');
}

.social-gm {
    display: block;
	width: 45px;
	height: 45px;
	background-image: url('../img/gm-icon.png');
}

.social-yt {
    display: block;
	width: 45px;
	height: 45px;
	background-image: url('../img/yt-icon.png');
}

.contacts:after {
	content: "";
	display: block;
	width: 100%;
	clear: both;
}

.copyright {
	width: 100%;
	padding: 3px;
	box-sizing: border-box;
	text-align: center;
	font-family: Arial;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}